header{
 .navbar {
    min-height: initial;
    margin-bottom: 0;
  }
  .navbar-inverse {
    background-color: initial;
    border-color: initial;
    border:none;
    .navbar-toggle .icon-bar {
      background-color: $secondary-color;
      width: 27px;
      height: 3px;
    }
  }
  .navbar-toggle {
    border: none;
    padding: 0;
  }

  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: initial;
  }
}
